body {
    font-family: Arial, sans-serif;
}
#navbar{
    align-items: center;
    display: flex;
    background-color: black; 
    /* padding-right: 10px;   */
}
#navbar a{
                margin-right: 50px;
                text-decoration: none;
                color: white;
                padding: 8px 26px;
                border-radius: 4px;
                transition: background-color 0.3s;
                padding-right: 10px;
}
#navbar input[type="text"] {
    margin-right: 10px;
    /* padding: 8px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 10px;
    flex-grow: 0.1;
}