body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-image: url('https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Path to your image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
}
.nav-search {
    display: flex;
    align-items: center;
}
#navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 8px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
#navbar input[type="text"] {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    flex-grow: 1;
}
#navbar button, #contactform button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navbar button:hover, #contactform button:hover {
    background-color: #ccc;
}
#backimage{
    background-size: cover;
}
.introduction{
    color: white;
    font-size: xx-large;
    margin-left: 15%;
    color: rgba(255, 255, 255, 0.8);
}
.description{
    color: white;
    margin-left: 15%;
    font-size: large;
    height: 80px; 
    text-align: justify;  
}
#intro, #contact-us{
    margin-top: 15%;
    height: 180px;
}
#intro{
    width: 20px;
}
#introdesc{
    width: 370px;
}
#about-us{
    width: 290px;
    height: 70px;
}
#aboutdesc{ 
    width: 75%;
}
#contact-us{
    width: 22%;
}
#book{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-left: 15%;
}
#book:hover{
    background-color: #ccc; 
    
}
.social-icons {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 1%;
}
.social-icons a{
    margin: 10px 0;
}
.social-icon {
    width: 45px; 
    height: 45px;
}
.social-icon:hover {
    transform: scale(1.2);
}
#contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#contact-us{
    flex: 0.8;
    margin-right: 20px;
}
#contactform{
    color: white;
    flex: 1;
    margin-right: 10%;
    margin-top: 10%;   
}
#contactform form {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.8);
}
#contactform input[type="text"],
#contactform input[type="email"], #contactform textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: medium;
}
#contactform input[type="text"],
#contactform input[type="email"]{
    height: 40px;
}
#contactform textarea {
    height: 120px;
}
#our-team {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 15px; */
}
.position {
    display: inline-block;
    padding: 10px 60px;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin: 10px;  
}
.position:hover {
    background-color: green;
}
#member-1 img, #member-2 img, #member-3 img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
#members{
    color: white;
    margin-left: 5%;
    color: rgba(252, 249, 249, 0.9);
    flex: 1;
    margin-right: 10%;
}
#our-team, #members{
    margin-top: 10%;
}
#our-team-container, #members{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#member-1, #member-2, #member-3{
    background-color:rgba(252, 249, 249, 0.2);
    margin: 5px;
    border-radius: 20px;
    width: 35%;
    text-align: center;
    padding: 5px;
}
#member-1:hover, #member-2:hover, #member-3:hover{
    background-color: black;
    cursor: pointer;
}




